.chatList {
  background-color: #303841;
  min-width: 380px;
  max-width: 380px;
}

.title {
  color: rgb(225, 233, 241);
  font-size: 1.40625rem;
  font-weight: 600;
}

.list {
  margin-top: 1rem;
}