.alienMessage {
  .contentMessage {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .textWrapper {
    margin-left: 10px;
  }
}

.myMessage {
  .contentMessage {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    float: right;
  }

  .textWrapper {
    margin-right: 10px;
  }

  .text {
    background: #36404a;

    &:before {
      border-color: #36404a transparent transparent #36404a;
    }
  }

  .name {
    display: flex;
    justify-content: flex-end;
  }
}

.contentMessage {
  margin: 24px 0;
  max-width: 50%;
  word-break: break-all;
}

.image {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.text {
  padding: 12px 20px;
  background-color: #7269ef;
  border-radius: 8px 8px 8px 0;
  color: #fff;
  position: relative;
  margin-bottom: 10px;

  &:before {
    content: "";
    position: absolute;
    border-color: #7269ef transparent transparent #7269ef;
    border-style: solid;
    border-width: 5px;
    left: 0;
    right: auto;
    bottom: -10px;
  }
}

.name {
  color: #a6b0cf;
  font-weight: 500;
  font-size: 14px;
}

.settings {
  color: #7269ef;
  align-self: flex-start;
}