@import '../../../../App.module';

.user {
  display: flex;
  align-items: center;

  img {
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
  }
}

.userName {
  color: #e1e9f1;
  font-weight: 600;
  font-size: rem(16);
}

.userStatus {
  color: #06d6a0;
}

.userActions {
  display: flex;
  align-items: center;
}

.userActionsItem {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #abb4d2;
  cursor: pointer;
  border-radius: 5px;
  transition: all .5s;
  border: 1px solid transparent;
  background: transparent;

  &:not(:last-child) {
    margin-right: .5rem;
  }

  &:hover {
    background: #3e4a56;
    transition: all .5s;
  }
}