@import "../../App.module.scss";

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #303841;
    border-bottom: 1px solid #36404a;
    font-size: rem(18);
    font-weight: 600;
    color: #e1e9f1;
}

.header img {
    height: 50px;
}
















