.item {
  display: flex;
  padding: 15px 20px;
  color: #abb4d2;
  border-radius: 5px;
  text-decoration: none;

  &:hover {
    background: #36404a;
    cursor: pointer;
    .title {
      color: #e1e9f1;
    }
    .subtitle, .time {
      color: #a6b0cf;
    }
  }
}



.info {
  flex: 1 1;
}

.title {
  font-size: 15px;
  color: #e1e9f1;
  font-weight: 600;
}

.subtitle {
  font-size: 14px;
}

.time {
  font-size: 11px;
}